<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" id = "html" th:attr = "theme = ${theme}">
    <head>
        <meta charset = "UTF-8">
        <title th:text = "500"></title>
        <link rel = "shortcut icon" type = "image/x-icon" th:href = "@{/img/ico/favicon.ico}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/assets/bootstrap.min.css}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/animations.css}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/colors.css}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/dimensions.css}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/fonts.css}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/layout.css}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/shadows.css}" />
        <link rel = "stylesheet" type = "text/css" th:href = "@{/css/themes.css}" />
        <script type = "text/javascript" th:src = "@{/js/assets/three.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/assets/vanta.min.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/background.js}"></script>
        <script type = "text/javascript" th:src = "@{/js/globals.js}"></script>
        <script type = "text/javascript" th:inline = "javascript"> globalsInitialization(); </script>
    </head>
    <body id = "background">
        <script type = "text/javascript" th:inline = "javascript"> backgroundInitialization(); </script>
        <div class = "container error">
            <img class = "error-img" th:src = @{/img/error/500.gif} />
            <div class = "error-div">
                <div class = "code">500</div>
                <div class = "title">我们出现了问题...</div>
                <div class = "explanation">
                    <div>请给我们一些时间来修理这个问题.</div>
                    <div>你现在可以出去享受一下阳光.</div>
                    <div>一切交给我们就好.</div>
                </div>
                <div class = "advice">你可以提交一个问题到 <a href = "https://github.com/AntonyLeons/Ward">Github</a></div>
            </div>
        </div>
    </body>
</html>
